.material-table {

  th {
    white-space: nowrap;
  }

    svg {
        height: 15px;
        width: 15px;
  }

}

.material-table__toolbar-wrap {
  position: absolute;
  top: 10px;
  @include directify($directions) {
    #{directed('right')}: 0px;
  }

  .material-table__toolbar {
    padding: 0 30px;
  }

  .material-table__toolbar-button {
    height: 36px;
    width: 36px;
    padding: 0;
  }
}

.material-table__toolbar-selected {
  @include directify($directions) {
    #{directed('margin-right')}: 10px;
  }
}

.material-table__row {
  transition: 0.3s;
  cursor: pointer;
  padding: 0px;

  &[aria-checked="true"] {

    @include themify($themes) {
      background-color: transparent;
    }

    .material-table__checkbox span {
      color: #FEC009;

    }
  }

  &:hover {

    @include themify($themes) {
      background-color: #f5f5f5;
    }
  }
}

.material-table__checkbox--checked span {
  color: #FEC009;


}

.material-table__cell-right{
  @include directify($directions) {
    text-align: directed('left');
  }
  padding: 0px;
  p {
    color: #919699;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
  }
}

.detalles__cell {
  padding: 3px;
  background-color: #ECF4FF;
  width: 40%;
  p{
    color: #0070FF;
    font-size: 10px;
  }
}

.cliente__cell {
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  border-bottom: 0.4px solid #80B27A;
  width: 80%;
  p {
    color: #80B27A;
  }
}

.controltiendas__label {
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  p {
    color: #FF2D55;
  }
}



.material-table__cell-row{
  @include directify($directions) {
    text-align: directed('left');
  }
  padding: 0px;
  p {
    color: #919699;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    padding: 0px;
    margin-left: -12px;
  }
}

.material-table__cell-canal{
  @include directify($directions) {
    text-align: directed('left');
  }
  p {
    color: #1667A3;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
  }
    svg {
        height: 15px;
        width: 15px;
  }

}

.material-table__cell.material-table__cell--sort {

  span {
    transition: 0.3s;

    @include themify($themes) {
      color: gray
    }

    &:hover {
      color: gray;
    }
  }
}

.material-table__cell, .material-table__sort-label, .material-table__toolbar-button {

  @include themify($themes) {
    color: themed('colorText');
  }

}

.material-table__checkbox {
  transition: 0.3s;

  @include themify($themes) {
    color: themed('colorIcon');
  }
}

.material-table__pagination {
  @include directify($directions) {
    float: directed('right');
  }

  button:hover {
    @include themify($themes) {
      background-color: themed('colorHover') !important;
    }
  }

  & > div {
    padding: 0;
  }

  span, div, svg {

    @include themify($themes) {
      color: gray;
    }
    // font-size: 10px;
    // width: 5px;
    // height: 5px;
  }
}

.material-table__wrap {
  overflow-x: auto;
}

.material-table__filter-menu {

  div:last-child {
    box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.06);
  }

  .material-table__filter-menu-item {
    color: #646777;
    transition: 0.3s;
    font-size: 13px;
    padding: 7px 24px;
    height: auto;

    &:hover {
      background: gray;
    }
  }
}


@media screen and (max-width: 768px) {

  .material-table__pagination {

    div {
      margin-left: 8px;
      margin-right: 8px;

      &:last-child {
        @include directify($directions) {
          #{directed('margin-right')}: 0px;
        }
      }

      &:first-child {
        margin: 0;
      }
    }

    div > span:first-of-type {
      display: none;
    }
  }
}

@media screen and (max-width: 420px) {

  .material-table__toolbar-selected {

    span {
      display: none;
    }
  }
}


.table__header {
  font-size: 10px;
  padding: 0px;
}
